.center {
    text-align: center;
}
.title2 {
    font-size: 1.2em;
    padding: 20px 0px 15px 0px;
}
.sub_title2 {
    font-size: .8em;
    padding: 5px 0px 35px 0px;
    color: #666666;
}
.center .a {
    width: 70%;
    font-size: 1em;
}

.gray {
    color: #d6d6d6;
}